@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/light/montserrat-light.eot');
    src: url('../fonts/montserrat/light/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/light/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/light/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat/light/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-regular.ttf);
    font-weight: 400;   
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-medium.ttf);
    font-weight: 500; 
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-semiBold.ttf);
    font-weight: 600; 
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-extraBold.ttf);
    font-weight: 800; 
}
.container {
    width: 1920px;
    margin: 0 auto;
}
.header {
    width: 100%;
    min-height: 1024px;
    background-image: url(../img/bgiheader.jpg);
    background-size: cover;
    position: relative;
}
.wrp {
    width: 100%;
    min-height: 1024px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
    background-color: rgba(17,17,17,0.7);
    background-size: cover;
    box-sizing: border-box;
}
.logo {
    padding: 0 0 0 375px;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-img {
    width: 64px;
    height: 56px;
    fill: #fbfaf8;
}
.logo-txt {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.logo-img:hover,
.logo-txt:hover {
    fill:#c7b299;
    color: #c7b299;
}
.logo-img:active,
.logo-txt:active {
    fill: #736357;
    color: #736357; 
}
.menu {
    margin: 20px 0 0 219px;
    width: 1070px;
    height: 20px;
    display: flex;
}
.menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    width: 637px;
    justify-content: space-between;
}
.menu-link {
    text-decoration: none;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}
.menu-link:hover {
    color: #c7b299;
}
.menu-link:active {
    color: #736357; 
}
.menu-link-active {
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #c7b299;
}
.cart {
    margin: -5px 0 0 63px;
    padding: 0;
    width: 20px;
    height: 26px;
    background-color: transparent;
    outline: none;
    border-width: 0px;
    fill: #fbfaf8;
}
.cart:hover {
    fill: #c7b299;
    cursor: pointer;
}
.cart:active {
   fill: #736357; 
   cursor: pointer;
}
.form-search {
    margin-top: -4px;
}
.search {
    margin: 0 0 0 28px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-width: 0px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
}
.search:focus {
  width: 200px;
  transition: width 1s ease-out;
  background-position: right;
}
.slider {
    width: 100%;
    height: 260px;
    display: flex;
    padding: 0 150px 0 150px;
    justify-content: space-between;
    align-items: center;
}
.arrow-left {
    width: 40px;
    height: 73px;
    opacity: 0.5;
    fill: #fbfaf8;
}
.arrow-left:hover {
    fill: #d3c1ad;
}
.arrow-left:active {
    fill: #736357;
}
.slider-midium {
    text-align: center;
}
.text1 {
    display: block;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 15px 0;
}
.text2 {
    display: block;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 20px 0;
}
.text3 {
    width: 562px;
    display: block;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 51px 0;
}
.arrow-right {
    width: 40px;
    height: 73px;
    opacity: 0.5; 
    fill: #fbfaf8;
}
.arrow-right:hover {
    fill: #d3c1ad;
}
.arrow-right:active {
    fill: #736357;
}
.slider-button {
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    outline: 0;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    border-width: 0;
}
.slider-button:hover {
    background-color: #736357;
    cursor: pointer;
}
.slider-button:active {
    background-color: #30241e;
    cursor: pointer;
}
.pagination {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
}
.circle {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.5;
    background-color: #ffffff;
    border: 2px solid transparent;
}
.circle:hover {
    border: 2.0px solid #d3c1ad;
    background-color: transparent;
    transform: scale(1.2);
}
.circle-active {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 5px 3px 5px;
    opacity: 0.5;
    border: 2.0px solid #d3c1ad;
    background-color: transparent;
}
.servies {
    margin: 0;
    padding: 80px 375px 80px 375px;
    display: flex;
    justify-content: space-between;   
    box-sizing: border-box;
}
.web,
.development, 
.customization,
.marketing {
    position: relative;
}
.web:after,
.development:after,
.customization:after,
.marketing:after {
    content:"";
    position:absolute;
    width:24%;
    height:3px;
    background:#f1eee9;
    margin: 0 38% 0 38%;
}
.development:after {
    background-color: #c7b299;
}
.icon-web {
    display: block;
    width: 49px;
    height: 49px;
    fill: #555555;
    margin: 0 auto 30px auto;
}
.servies-heading {
    margin: 0 0 24px 0;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}
.servies-txt {
    margin: 0 0 30px 0;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;   
}
.web:hover .icon-web {
    fill: #c7b299; 
    cursor: pointer;
}
.web:hover .servies-heading {
    color: #c7b299;
    cursor: pointer;
}
.web:hover:after {
    background-color: #c7b299;
    cursor: pointer;
}
.icon-development {
    display: block;
    width: 44px;
    height: 40px; 
    fill: #c7b299;
    margin: 8px auto 30px auto;
}
.heading-active {
    color: #c7b299;
}
.development:hover .icon-development {
    fill: #c7b299;
    cursor: pointer;
}
.development:hover .servies-heading {
    color: #c7b299;
    cursor: pointer;
}
.development:hover:after {
    background-color: #c7b299;
    cursor: pointer;
}
.icon-customization {
    display: block;
    width: 44px;
    height: 44px;
    fill: #555555;
    margin: 4px auto 30px auto;
}
.customization:hover .icon-customization {
    fill: #c7b299;
    cursor: pointer;
}
.customization:hover .servies-heading {
    color: #c7b299;
    cursor: pointer;
}
.customization:hover:after {
    background-color: #c7b299;
    cursor: pointer;
}
.icon-marketing {
    display: block;
    width: 52px;
    height: 36px;  
    background-image: url(../img/icon_marketing.svg); 
    background-repeat: no-repeat;
    margin: 11px auto 30px auto;
}
.marketing:hover .icon-marketing {
    fill: #c7b299;
    cursor: pointer;
}
.marketing:hover .servies-heading {
    color: #c7b299;
    cursor: pointer;
}
.marketing:hover:after {
    background-color: #c7b299;
    cursor: pointer;
}
.realization-idea {
    height: 700px;
    background-color: #fbfaf8;
    padding: 80px 345px 0 345px;
    box-sizing: border-box;
    background-image: url('../img/bgcenter-idea.png'),
                      url('../img/bgleft-idea.png'),
                      url('../img/bgright-idea.png');
    background-repeat: no-repeat;
    background-position: bottom,345px bottom,806px bottom;
}
.idea-heading {
    margin: 0 0 24px 0;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}
.idea-txt {
    margin: 0 auto;
    width: 757px;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;    
}
.aside {
    padding: 48px 375px 48px 375px;
    box-sizing: border-box;
    background-image: url(../img/background_aside.jpg); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside-heading {
    margin: 0 0 5px 0;
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.aside-heading span {
    color: #c7b299;
}
.aside-txt {
    margin: 0;
    font-family: Montserrat, arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}
.aside-button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3.0px;
    outline: 0;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff; 
    padding: 0;
    border-width: 0;
}
.aside-button:hover {
    background-color: #736357;
    cursor: pointer;
}
.aside-button:active {
    background-color: #30241e;
    cursor: pointer;
}
